<div class="col-xs-12 rounded shadow-3 bg">
    <h2 *ngIf="!personMaster; else meusdados">Nova pessoa</h2>

    <ng-template #meusdados>
        <h2>Meus dados</h2>
    </ng-template>

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="name">Nome:</label> 
        <input type="text" class="form-control" placeholder="Insira o nome"
            formControlName="name" id="name" [ngClass]="aplicaCssErro('name')"
            [(ngModel)]="person.name">
        
        <app-campo-control-erro [mostrarErro]="isCampoInvalid('name')" msgErro="Insira o nome.">
        </app-campo-control-erro>

        <label for="username">Username:</label> 
        <input type="text" class="form-control" placeholder="Insira o username"
            formControlName="username" id="username" [ngClass]="aplicaCssErro('username')"
            [(ngModel)]="person.username"
            [attr.disabled]="personMaster">
        
        <app-campo-control-erro [mostrarErro]="isCampoInvalid('username')" msgErro="Insira o username.">
        </app-campo-control-erro>

        <label for="password">Senha:</label> 
        <input type="password" class="form-control" placeholder="Insira a senha"
            formControlName="password" id="password" [ngClass]="aplicaCssErro('password')"
            [(ngModel)]="person.password">

        <app-campo-control-erro [mostrarErro]="isCampoInvalid('password')" msgErro="Insira a senha.">
        </app-campo-control-erro>

        <app-status-message [message]="message" [success]="success"></app-status-message>

        <div class = "col-xs-12 text-right no-padding bottom-bar" *ngIf="!personMaster; else logoff">
            <button type="button" class="btn btn-danger btn-space" (click)="cancel()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Cancelar
            </button>
            <button id="cadastrar" type="submit" class="btn btn-primary">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Cadastrar
            </button>
        </div>

        <ng-template #logoff>
            <div class = "col-xs-12 text-right no-padding bottom-bar">
                <button id="logoff" type="button" class="btn btn-danger btn-space" (click)="showConfirmLogoff()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logoff
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Salvar
                </button>
            </div>
        </ng-template>
    </form>
</div>